geopandas
pandas
streamlit
matplotlib
numpy
shapely
folium
pyproj
scikit-learn
requests
seaborn
plotly
pydeck
streamlit_folium
openpyxl
rtree
bcrypt 
Tkinter
streamlit
numpy
pandas
matplotlib
